<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dw7ox75dg/image/upload/v1555105203/Lamebo_0419_Baja-9342.jpg);">
  <div class="banner-container">
    <p>Agencia de Cambio</p>
    <h1>Bienvenidos</h1>
    <h3>Somos una Empresa joven y con suficiente experiencia en el mercado cambiario.
    Estamos ubicados a metros de Callao y Santa Fe, en un elegante local dispuesto para la atención al público. La comodidad y seguridad de nuestros clientes es un  objetivo fundamental de nuestra Empresa.</h3>
  </div>
</div>
<section id= "cotizaciones">
  <div class="description">
    <h1>COTIZACIONES</h1>
    <h3> Panel de divisas <i class="fas fa-sort-down"></i></h3>
    <div class="cotizacion-container">
      <% @cambios.each do |cambio| %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Moneda</th>
            <th scope="col"></th>
            <th scope="col">Compra</th>
            <th scope="col">Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-usa.jpg" alt=""> <br>Dolar </td>
            <td></td>
            <td>$<%= cambio.dolarc %></td>
            <td>$<%= cambio.dolarv %></td>
          </tr>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-euro.jpg" alt=""><br>Euro</td>
            <td></td>
            <td>$<%= cambio.euroc %></td>
            <td>$<%= cambio.eurov %></td>
          </tr>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-br.jpg" alt=""><br>Real</td>
            <td></td>
            <td>$<%= cambio.realc %> </td>
            <td>$<%= cambio.realv %></td>
          </tr>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-ur.jpg" alt=""> <br>Uruguayo </td>
            <td></td>
            <td>$<%= cambio.uruguayo %></td>
            <td>$<%= cambio.uruguayov %></td>
          </tr>
        </tbody>
      </table>
      <div class="dolar-footer">
        <p>Actualizado: <%= cambio.updated_at.in_time_zone("Buenos Aires").strftime('%d/%m/%y - %H:%M') %> - <%= link_to 'Lamebo',cambio_path(cambio) %> </p>
      </div>
      <% end %>
    </div>
  </div>
</section>
<section id= "quienes">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img class="d-block w-100" src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1555105438/Lamebo_0419_Baja-9343.jpg" alt="First slide">
        <div class="carousel-caption">
          <h3>Seguridad</h3>
          <p>Tenemos un sistema de gestión que nos permite atender a turistas de todas partes del mundo y a ciudadanos locales con rapidez y eficiencia, documentando cada operación para que cada cliente tenga seguridad y registro apropiado de su transacción.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1550565118-3a14e8d0386f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="Second slide">
        <div class="carousel-caption">
          <h3>Nuestra Empresa</h3>
          <p>Nuestra red de operadores cambiarios nos permite ofrecer un tipo de cambio competitivo para cada moneda que negociamos. Somos líderes indiscutidos en la atención al público en la zona de influencia donde estamos, y en los centros comerciales y turísticos que nos referencian todos los días.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
        <div class="carousel-caption">
          <h3>Nuestra Mision</h3>
          <p>Nuestra política de capacitación priorizan la atención personalizada de nuestros clientes y la búsqueda de soluciones adecuadas para cada uno de ellos. Tenemos operadores  especializados en materia cambiaria, que atienden con la misma eficiencia a nuestro público durante toda la jornada.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </section>
  <section id= 'contacto'>
    <div class="contact">
      <h1>COMUNICATE</h1>
      <div class="direccion">
        <div class="direccion-content">

          <h3> Buenos Aires</h3>
          <p> Av. Callao 1125 - CABA</p>
          <p> <i class="fab fa-whatsapp-square", style= "color:green"></i> +54 (11) 6606-2731</p>
          <a href="mailito:info.lamebo@gmail.com">info.lamebo@gmail.com</a>
          <br><br>
           <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1555105129/Lamebo_0419_Baja-9335.jpg" alt="">
        </div>
        <div class="direccion-img">

          <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554910597/Captura_de_Pantalla_2019-04-10_a_la_s_12.35.38.png" alt="">

        </div>
      </div>
    </div>
  </section>
