<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('https://res.cloudinary.com/dw7ox75dg/image/upload/v1554836723/photo-1454165804606-c3d57bc86b40.jpg');">
  <div class="banner-content">
    <h1>Lamebo</h1>
    <p>Inverti con nosotros</p>
  </div>
</div>
<section id= "cotizaciones">
  <div class="description">
    <h1>&nbsp;&nbsp;Cotizaciones</h1>
    <div class="cotizacion-container">
      <% @cambios.each do |cambio| %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Moneda</th>
            <th scope="col"></th>
            <th scope="col">Compra</th>
            <th scope="col">Venta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-usa.jpg" alt=""> <br>Dolar </td>
            <td></td>
            <td>$<%= cambio.dolarc %></td>
            <td>$<%= cambio.dolarv %></td>
          </tr>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-euro.jpg" alt=""><br>Euro</td>
            <td></td>
            <td>$<%= cambio.euroc %></td>
            <td>$<%= cambio.eurov %></td>
            </tr>
          <tr>
            <td><img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554760381/flag-br.jpg" alt=""><br>Real</td>
            <td></td>
            <td>$<%= cambio.realc %> </td>
            <td>$<%= cambio.realv %></td>
          </tr>
        </tbody>
      </table>
      <div class="dolar-footer">
        <p>Actualizado: <%= cambio.updated_at.in_time_zone("Buenos Aires").strftime('%d/%m/%y - %H:%M') %> - <%= link_to 'Lamebo',cambio_path(cambio) %> </p>
      </div>
      <% end %>
    </div>
  </div>
</section>
<section id= "quienes">
  <div class="banner-5" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/dw7ox75dg/image/upload/v1554836657/photo-1511881830150-850572962174.jpg');">
    <div class="banner-content">
      <h1>Quienes somos?</h1>
      <p>Somos una empresa lider en el tipo de cambio que cuenta con la mayor experiencia y con datos al instante</p>
    </div>
  </div>
  <div class="banner-4" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/dw7ox75dg/image/upload/v1554836696/photo-1523875194681-bedd468c58bf.jpg');">
    <div class="banner-content">
      <h1>Tu mejor jugada</h1>
      <p>Te ayudamos a invertir mejor</p>
    </div>
  </div>
</section>
<section id= 'contacto'>
  <div class="contact">
    <h1>&nbsp;&nbsp;Comunicate</h1>
    <div class="direccion">
      <h3> Buenos Aires</h3>
      <p> Av. Callao 1125 - CABA</p>
      <p> <i class="fab fa-whatsapp-square", style= "color:green"></i> +54 (11) 6606-2731</p>
      <a href="mailito:info.lamebo@gmail.com">info.lamebo@gmail.com</a>
      <br>
      <br>
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1554910597/Captura_de_Pantalla_2019-04-10_a_la_s_12.35.38.png" alt="">
    </div>
  </div>
</section>
